.feed {
  margin: 4.5rem auto;

  .content {
    padding: 20px;
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 2rem;
    justify-content: center;
  }

  @media screen and (max-width: 768px) {
    .cards {
      grid-template-columns: 1fr;
    }
  }
}
